@import "reset";

ul {
  list-style: none;
  padding: 0;
}

nav {
  display: flex;
  padding: 1rem;
  background-color: palevioletred;
  color: palegoldenrod;
}

nav .logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav div:nth-child(2) {
  width: 100%;
}

nav div:nth-child(2) ul {
  display: flex;
  justify-content: flex-end;
}

nav div:nth-child(2) ul li {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0 0.25rem;
}

.icons {
  width: 35px;
  height: 35px;
  fill: palegoldenrod;
}

.icons:hover {
  fill: rgb(255, 243, 114);
}
